@tailwind base;

@tailwind components;

@tailwind utilities;


::-moz-selection { @apply bg-primary;}
::selection {  
  @apply bg-primary;
}

body {
  @apply font-sans;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold mb-2 font-heading;
  text-shadow: 4px 3px 0px #fef200;
}
h1 {
  @apply text-5xl font-black leading-relaxed;
}
h2 {
  @apply text-4xl mb-4;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-xl;
}
p {
  @apply mb-4 text-2xl leading-relaxed text-gray-800;
}
a {
  color: #ff4b7e;
}

ul, ol {
  @apply mb-4 text-2xl leading-relaxed text-gray-800 pl-8 list-disc;
}
ol {
  @apply list-decimal;
}
li {}